<!DOCTYPE html>
<html>
<head>
  <title>cultureMap</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD0uYEJt5myjVIWmTJICUK6vOP-nndsXw8"%>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
